/*.navbar-header {

	display: inline-block;
}

.form-group {
	display: inline-block;
	background-color: darkslategrey;
}
*/

.jumbotron {
	display: inline-block;
/*	background-image: url("img/chihuahuasky.jpg")*/
	text-align: center;
	background-color: lightslategrey;
}

.item {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	display: inline;
}